@use '../abstracts/' as *;

.logo {
    height: 50px;
    width: auto;
    margin: 1rem;
    fill: $color-font-primary;
    color: $color-font-primary;
    stroke: $color-font-primary;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        fill: $color-primary;
        color: $color-primary;
        stroke: $color-primary;
    }
}    


.nav-list {
    list-style: none;
}

.nav-item {
    font-family: $font-heading;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1px;
    color: $color-font-primary;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        color: $color-primary;
    }
}
