@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;700&family=Montserrat&family=Taviraj:wght@100&display=swap');

$font-heading: 'Hind Madurai', sans-serif;
$font-subheading: 'Montserrat', sans-serif;
$font-body: 'Taviraj', serif;

$font-stack: Helvetica, sans-serif;
$color-bg: #353B3C;
$color-primary: #63b995;
$color-primary-shade: #5aa485;
$color-font-primary: #EFE9F4;
$color-font-secondary: #C9CECF;

$color-error: #C52233;
$color-error-shade: #a5222f;
$color-bright: #D3E848;
$color-bright-shade: #bace3c

